/* .grid {
/* grid 
  display: grid;
  grid-template-rows: repeat(16, 1fr);
  grid-template-columns: repeat(6, 1fr);
  gap: 0.8%;
  /* gridが壊れる　writing-mode: vertical-rl; 
  width: 100%; 
  max-width: 960px;
  position: relative;
  margin: 0 auto;
  padding: 4% 0 0 0;
}
/* a > img:hover{
  transform: scale(1.05,1.05);
  transition: 1.3s all;
  opacity: 2.0;
} */
/* grid item 
.item {
  overflow: hidden;
  background-color: #005243;
  writing-mode: vertical-rl; 
  text-align: center;
  position: relative; 
  width: 284px;
  height: 320px;
  /* border: 1px solid  #005243;  
}
.graph {
  writing-mode: vertical-rl; 
  position: relative; 
  width: 284px;
  height: 320px;
}
.item a{
  background-color: white;
  display: block;
  overflow: hidden;
  width: 240px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}
.item a img{
  object-fit: cover;
  width: 240px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}
.item > p {
  color: #ffffff;
  font-size: 18px;
  font-weight: bolder;
  text-align: center;
  letter-spacing: 2px;
  position: relative;
  right: 86.8%;
  margin: 0;
} 
.graph p { 
  font-size: 23px;
  font-weight: bold;
  position: absolute;
  top: 6%;
  left: 34%;
}  */
.shelf{
  margin-right: 36%;
  margin-left: 36%;
}
.shelf ul{
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
}
.shelf ul li{
  height: 100%;
  overflow: hidden;
  margin-right: 18%;
}
.shelf ul li b{
  display: block;
  position: relative;
  height: 100%;
  font-size: 2.9vh;
  margin-top: 22%;
  margin-left: 10%;
  padding: 0;
}
.shelf ul li b:before{
  content: "❖　";
}
.shelf ul li img {
  height: 50%;
  margin: 0;
  padding: 0;
} 
.shelf ul li div{
  position: relative;
  height: 46%;
  float: right;
  font-size: 2.2vh;
  line-height: 154%;
  letter-spacing: 0;
  margin: 0;
  padding: 1%;
}
.desc{
  margin: 0;
  padding: 0;
}
.var{
  position: relative;
  margin-top: 6%;
  font-size: 2.0vh;
}
.copy{
  position: absolute;
  margin-top: 52%;
  left: 0.9%;
}
.copy b{
  font-size: 2.6vh;
}
